@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Outfit:wght@300;400;500&display=swap');

html {
    background-color: black;
    margin: 0;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    color: #f49030;
    font-size: 50px;
    text-align: center;
}

#container {
    margin: auto;
    width: 80%;
    max-width: 1500px;
}

#imgcontainer {
    margin-top: -25px;
    width: 100%;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 5px;
    max-width: 300px;
    margin: auto;
}

#messages {
    margin-top: 10px;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    width: 100%;
    overflow-x: break-word;
}

#options {
    display: inline;
    margin-top: 20px;
    width: 100%;
}

#options button {
    text-align: center;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 40px;
    }
    
    #messages {
        width: 90%;
    }
    
    #options button {
        font-size: 15px;
    }
}


@media (min-width: 800px) {
    #options {
        display: flex;
        justify-content: space-between;
    }
}