@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Outfit:wght@300;400;500&display=swap');

html {
    background-color: black;
    margin: 0;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    color: #f49030;
    font-size: 50px;
}

#messages {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    width: 50%;
    overflow-x: break-word;
}

#options {
    margin-top: 20px;
    width: 25%;
}

#options button {
    text-align: center;
    width: 300px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 40px;
    }
    
    #messages {
        width: 90%;
    }
    
    #options button {
        font-size: 15px;
    }
}